/* menu - current page active setting*/

.header-nav{
  background-color: #333;
}
.header-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #ddd;*/
}
.header-nav ul li{
  float: left;
}
.header-nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header-nav ul li a:hover {
  background-color: #111;
}
.current-menu-item {
  background-color: green;
}
.search-form{
  margin-top: 20px;
}
