/* next and previous post navigation */
/*    **Problem** when screen size reduce it disappears  */
.prev-post{
  float: left;
  margin-bottom: 20px;
}
.next-post{
  float: right;
  margin-bottom: 20px;
}
